dist/main/tk/ttk/xpTheme.tcl
dist/main/tk/ttk/vistaTheme.tcl
dist/main/tk/ttk/winTheme.tcl
dist/main/tk/ttk/treeview.tcl
dist/main/tk/ttk/ttk.tcl
dist/main/tk/ttk/utils.tcl
dist/main/tk/ttk/scrollbar.tcl
dist/main/tk/ttk/sizegrip.tcl
dist/main/tk/ttk/spinbox.tcl
dist/main/tk/ttk/panedwindow.tcl
dist/main/tk/ttk/progress.tcl
dist/main/tk/ttk/scale.tcl
dist/main/tk/ttk/fonts.tcl
dist/main/tk/ttk/menubutton.tcl
dist/main/tk/ttk/notebook.tcl
dist/*
main.spec
__pycache__/*
dist.rar
codigo_fuente.rar
libre_out.rar
worksheet-data-inserter.rar
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/worksheet-data-inserter.iml
.idea/inspectionProfiles/profiles_settings.xml
libre/main.exe
licensias/COPYING-pyinstaller.txt
licensias/electron.txt
licensias/getmac.txt
licensias/jquery-lincense.txt
licensias/openpyxl.txt
licensias/pikepdf- mozilla lincense 2.0.txt
licensias/pypdf2 -bsd lincense.txt
out/config.json
out/glossary.txt
out/main.exe
out-32/*
26-07.pdf
out/*
libre_out/*
__pycache__/*
build/*
onefolder/*
libre-32/*
libre-32_out-32.rar
HGFExcelInserter.pyo
getDatafromFiles.pyo
.idea/encodings.xml
standalone(non-beta-tweaks)/blood tests data/JUAN ROBERTO ZAMORA ZAMORA10.731.459-8(Copia).xlsx
blood tests data/JUAN ROBERTO ZAMORA ZAMORA10.731.459-8(Copia).xlsx
blood tests data/JUAN ROBERTO ZAMORA ZAMORA10.731.459-8.xlsx
standalone(non-beta-tweaks)/user_log.txt
standalone(non-beta-tweaks)/blood tests data/JUAN ROBERTO ZAMORA ZAMORA10.731.459-8.xlsx
